In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("C:/Users/shree/Downloads/archive (1)/Bangalore.csv")

df.head()

In [3]:
df.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [4]:
df.head()

(13320, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13320 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB

In [6]:
df.describe()

               bath       balcony         price
count  13247.000000  12711.000000  13320.000000
mean       2.692610      1.584376    112.565627
std        1.341458      0.817263    148.971674
min        1.000000      0.000000      8.000000
25%        2.000000      1.000000     50.000000
50%        2.000000      2.000000     72.000000
75%        3.000000      2.000000    120.000000
max       40.000000      3.000000   3600.000000

In [7]:
df.isnull().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [8]:
df.corr()

             bath   balcony     price
bath     1.000000  0.204201  0.456345
balcony  0.204201  1.000000  0.120355
price    0.456345  0.120355  1.000000

In [9]:
df1 = df.drop(["availability","area_type","location","society"], axis=1)

In [10]:
df1

        availability       size total_sqft  bath  balcony   price
0             19-Dec      2 BHK       1056   2.0      1.0   39.07
1      Ready To Move  4 Bedroom       2600   5.0      3.0  120.00
2      Ready To Move      3 BHK       1440   2.0      3.0   62.00
3      Ready To Move      3 BHK       1521   3.0      1.0   95.00
4      Ready To Move      2 BHK       1200   2.0      1.0   51.00
...              ...        ...        ...   ...      ...     ...
13315  Ready To Move  5 Bedroom       3453   4.0      0.0  231.00
13316  Ready To Move      4 BHK       3600   5.0      NaN  400.00
13317  Ready To Move      2 BHK       1141   2.0      1.0   60.00
13318         18-Jun      4 BHK       4689   4.0      1.0  488.00
13319  Ready To Move      1 BHK        550   1.0      1.0   17.00

[13320 rows x 6 columns]

In [11]:
df1.isnull().sum()

availability      0
size             16
total_sqft        0
bath             73
balcony         609
price             0
dtype: int64

In [12]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   availability  13320 non-null  object
 1   size          13304 non-null  object
 2   total_sqft    13320 non-null  object
 3   bath          13247 non-null  float64
 4   balcony       12711 non-null  float64
 5   price         13320 non-null  float64
dtypes: float64(3), object(3)
memory usage: 624.5+ KB

In [13]:
df1 = df['size'].tolist()

In [14]:
df1

['2 BHK',
 '4 Bedroom',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '4 BHK',
 '4 BHK',
 '3 BHK',
 '6 Bedroom',
 '3 BHK',
 '4 Bedroom',
 '2 BHK',
 '2 BHK',
 '3 Bedroom',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '1 BHK',
 '3 BHK',
 '4 Bedroom',
 '3 BHK',
 '1 RK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '4 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '1 BHK',
 '1 Bedroom',
 '2 BHK',
 '8 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 Bedroom',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '4 Bedroom',
 '2 BHK',
 '6 Bedroom',
 '2 BHK',
 '3 Bedroom',
 '2 BHK',
 '4 Bedroom',
 '2 BHK',
 '8 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '8 Bedroom',
 '2 BHK',
 '3 Bedroom',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '6 Bedroom',
 '3 BHK',
 '4 Bedroom',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '6 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '6 Bedroom',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '4 Bedroom',
 '2 BHK',
 '3 BHK',
 '4 Bedroom',
 '3 BHK',
 '2 BHK',
 '3 Bedroom',
 '3 BHK',
 '2 BHK',
 '3 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '4 Bedroom',
 '3 Bedroom',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 Bedroom',
 '3 BHK',
 '3 BHK',
 '4 BHK',
 '4 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '7 Bedroom',
 '3 BHK',
 '3 Bedroom',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '8 Bedroom',
 '5 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '7 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '6 Bedroom',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '4 Bedroom',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '4 Bedroom',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '6 BHK',
 '1 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 Bedroom',
 '5 Bedroom',
 '1 Bedroom',
 '1 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '4 Bedroom',
 '7 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '4 Bedroom',
 '4 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '6 Bedroom',
 '1 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '4 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '5 Bedroom',
 '2 BHK',
 '1 BHK',
 '8 Bedroom',
 '1 BHK',
 '3 BHK',
 '2 BHK',
 '3 Bedroom',
 '2 BHK',
 '3 BHK',
 '3 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 Bedroom',
 '4 Bedroom',
 '2 BHK',
 '2 BHK',
 '5 Bedroom',
 '3 BHK',
 '4 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 Bedroom',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '6 Bedroom',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 Bedroom',
 '2 BHK',
 '4 BHK',
 '3 Bedroom',
 '4 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '1 BHK',
 '3 BHK',
 '4 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '5 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 Bedroom',
 '4 Bedroom',
 '3 BHK',
 '4 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '4 Bedroom',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '4 BHK',
 '3 BHK',
 '2 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '1 BHK',
 '2 BHK',
 '3 Bedroom',
 '3 BHK',
 '3 BHK',
 '3 Bedroom',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '1 BHK',
 '3 Bedroom',
 '3 BHK',
 '2 BHK',
 '4 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '4 Bedroom',
 '1 BHK',
 '2 BHK',
 '1 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '4 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '1 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '6 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '4 BHK',
 '2 Bedroom',
 '4 BHK',
 '2 BHK',
 '2 Bedroom',
 '4 Bedroom',
 '3 BHK',
 '7 BHK',
 '2 Bedroom',
 '1 BHK',
 '2 BHK',
 '2 BHK',
 '6 Bedroom',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 Bedroom',
 '2 Bedroom',
 '2 BHK',
 '2 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '6 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '8 Bedroom',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 Bedroom',
 '4 Bedroom',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '1 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 Bedroom',
 '2 BHK',
 '4 Bedroom',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '11 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '4 Bedroom',
 '2 Bedroom',
 '2 BHK',
 '4 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '4 BHK',
 '2 BHK',
 '2 BHK',
 '4 BHK',
 '4 Bedroom',
 '5 Bedroom',
 '5 Bedroom',
 '3 BHK',
 '4 BHK',
 '4 Bedroom',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '5 BHK',
 '3 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 Bedroom',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '1 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '4 Bedroom',
 '1 Bedroom',
 '2 BHK',
 '4 Bedroom',
 '4 Bedroom',
 '4 BHK',
 '4 BHK',
 '3 BHK',
 '4 Bedroom',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '4 BHK',
 '2 BHK',
 '1 BHK',
 '2 BHK',
 '4 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '9 BHK',
 '5 Bedroom',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '3 Bedroom',
 '3 Bedroom',
 '2 BHK',
 '5 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '6 Bedroom',
 '2 Bedroom',
 '2 BHK',
 '1 BHK',
 '2 BHK',
 '4 Bedroom',
 '2 BHK',
 '1 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '4 Bedroom',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 Bedroom',
 '3 BHK',
 nan,
 '2 BHK',
 '1 Bedroom',
 '1 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 Bedroom',
 '1 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '1 BHK',
 '1 BHK',
 '3 Bedroom',
 '3 BHK',
 '7 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '4 BHK',
 '4 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '5 Bedroom',
 '6 Bedroom',
 '2 BHK',
 '4 Bedroom',
 '4 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '1 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 Bedroom',
 '3 BHK',
 '2 BHK',
 '1 BHK',
 '4 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '6 BHK',
 '4 BHK',
 '2 BHK',
 '3 Bedroom',
 '2 BHK',
 '1 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '9 Bedroom',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '4 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '5 BHK',
 '3 Bedroom',
 '3 BHK',
 '4 Bedroom',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '1 Bedroom',
 '7 Bedroom',
 '3 BHK',
 '5 Bedroom',
 '3 BHK',
 '4 Bedroom',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 Bedroom',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '4 BHK',
 '4 Bedroom',
 '2 BHK',
 '2 Bedroom',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '3 Bedroom',
 '2 BHK',
 '3 Bedroom',
 '2 BHK',
 '2 BHK',
 '5 BHK',
 '3 BHK',
 '3 Bedroom',
 '2 BHK',
 '3 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '4 Bedroom',
 '3 BHK',
 '5 Bedroom',
 '4 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '4 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '1 BHK',
 '2 BHK',
 '4 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '1 Bedroom',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '4 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '5 Bedroom',
 '2 BHK',
 '4 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '1 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '5 Bedroom',
 '3 BHK',
 '2 BHK',
 '9 Bedroom',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '1 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '1 RK',
 '6 Bedroom',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '4 BHK',
 '4 Bedroom',
 '6 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '7 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '4 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '3 BHK',
 '4 Bedroom',
 '4 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '1 BHK',
 '2 BHK',
 '3 BHK',
 '4 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '4 BHK',
 '2 BHK',
 '4 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '1 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '6 Bedroom',
 '2 Bedroom',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '4 Bedroom',
 '3 BHK',
 '8 Bedroom',
 '2 BHK',
 '2 BHK',
 '6 Bedroom',
 '4 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '5 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '1 BHK',
 '3 BHK',
 '3 Bedroom',
 '7 Bedroom',
 '1 BHK',
 '2 BHK',
 '5 Bedroom',
 '5 Bedroom',
 '3 BHK',
 '2 BHK',
 '3 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '1 Bedroom',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '1 BHK',
 '1 BHK',
 '1 BHK',
 '2 Bedroom',
 '2 Bedroom',
 '3 Bedroom',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '1 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '5 BHK',
 '2 Bedroom',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '3 BHK',
 '4 BHK',
 '4 BHK',
 '3 BHK',
 '9 Bedroom',
 '5 Bedroom',
 '3 BHK',
 '4 Bedroom',
 '1 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '4 Bedroom',
 '2 BHK',
 '4 Bedroom',
 '3 BHK',
 '4 BHK',
 '3 Bedroom',
 '3 BHK',
 '4 Bedroom',
 '3 BHK',
 '3 BHK',
 '4 Bedroom',
 '2 BHK',
 '2 BHK',
 '1 BHK',
 '3 BHK',
 '3 Bedroom',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '1 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '6 Bedroom',
 '5 Bedroom',
 '2 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '3 BHK',
 '3 BHK',
 '2 BHK',
 '2 BHK',
 '1 BHK',
 '8 Bedroom',
 '4 Bedroom',
 '1 BHK',
 '2 BHK',
 '2 BHK',
 '1 Bedroom',
 '3 Bedroom',
 '2 BHK',
 '3 BHK',
 ...]

In [18]:
df1["size"] = df1["size"].replace({"1 BHK" : 1, "2 BHK" : 2, "3 BHK" : 3, "4 BHK" : 4, "5 Bedroom" : 5, "6 Bedroom" : 6, "7 Bedroom" : 7, "8 Bedroom" : 8, "9 Bedroom" : 9, "10 Bedroom" : 10, "11 Bedroom" : 11, "12 Bedroom" : 12, "13 BHK" : 13, "14 Bedroom" : 14, "1 RK" : 15})

TypeError: list indices must be integers or slices, not str

In [ ]:
df1 = df['size'].tolist()
df1

In [ ]:
df1 = df.drop(["availability"], axis=1)

In [ ]:
df1